{
      # Account contact for Let's Encrypt (optional)
      email ash@rainbowroadbook.org
}

rainbowroadbook.org {
      reverse_proxy frontend:3000
}

www.rainbowroadbook.org, rainbowroadbook.com, www.rainbowroadbook.com {
      redir https://rainbowroadbook.org{uri} permanent
}

admin.rainbowroadbook.org {
      redir / /admin/

      @django path /admin /admin/* /static/*
      handle @django {
              reverse_proxy api:8000
      }

      handle {
              respond 404
      }
}
